/* Use a media query in sass */
@import '103-sort_list';

@function sort($list) {
    $sorted: false;

    @while not $sorted {
        $sorted: true;
        @for $i from 1 through length($list) {
            @if $i > 1 {
                @if nth($list, $i) < nth($list, $i - 1) {
                    $temp: nth($list, $i);
                    $temp2: nth($list, $i - 1);
                    $list: set-nth($list, $i, $temp2);
                    $list: set-nth($list, $i - 1, $temp);
                    $sorted: false;
                }
            }
        }
    }
    @return $list;
}

@debug sort($list_to_sort);
