.container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.box {
    color: #FFFFFF;
}

.box1 {
    background-color: #FF89FF;
    font-size: 40px;
}
.box2 {
    background-color: #FFF92F;
    font-size: 60px;
}
.box3 {
    background-color: #23FFFF;
    font-size: 80px;
}
.box4 {
    background-color: #FF5F9F;
    font-size: 60px;
}
.box5 {
    background-color: #F8FF9F;
    font-size: 40px;
}
